{% extends "base.html" %}

{% block head %}
<title>Browser</title>
<link href="{{ url_for('static', path='/creategroup.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
<form action="/" method="get">
    <div class="Back">
        <button class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-home"></i>
        </button>
        <i class="bi bi-house"></i>
    </div>
</form>

<div class="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">№</span>
        </div>

        <input name="numberGroup" id="numberGroup" class="form-control"
               placeholder="Номер учебной группы" aria-label="Номер учебной группы"
        >
    </div>

    <div class="flex-item">
        <button onclick="send()" class="btn btn-primary btn-lg btn-block">
            Добавить
        </button>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    async function send() {
        const numberGroup = document.getElementById("numberGroup").value;
        if (numberGroup === undefined )  return alert("Введите номер учебной группы!");
        const response = await fetch("/postdata/creategroup", {
            method: "POST",
            headers: {"Accept": "application/json", "Content-Type": "application/json"},
            body: JSON.stringify({
                number: numberGroup
            })
        });

        // if (!response.ok)   return console.log(response);

        const data = await response.json();
        console.log(data.numberGroup);
        alert("Учебная группа создана");

    }
</script>

{% endblock %}